extends layout

block content
	.container
		h1 Applicants
		each val in applicants
			ul#applications Nombre: #{val.name}
				li Biographias: #{val.bio}
				li Skillas: #{val.skills}
				li Anos: #{val.years}
				li Porque: #{val.why}