extends layout

block content
	.container
		h1 Solicitantes
		each val in applicants
			ul#applications Nombre: #{val.name}
				li Biografia: #{val.bio}
				li Habilidades: #{val.skills}
				li Anos: #{val.years}
				li Por que: #{val.why}
				li
					a(href="/#{val._id}") Applicant Site
				button.btn.btn-danger.btn-xs.delete(data-uID='#{val._id}') Delete